* {
  box-sizing: border-box;
  font-family: Didot, "Bodoni MT", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(113, 102, 123);
  min-width: 320px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#logo {
  height: 60px;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(232, 232, 232);
}

a {
  text-decoration: none;
  color: white;
}

nav ul li a {
  font-size: 18px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.heroContent {
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  z-index: 1;
  top: 45%;
}

.hero h1 {
  font-size: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0.5;
}

.sectionTitle {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 35px;
}

.branchA {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.detailA {
  color: white;
  height: 500px;
  width: 400px;
  min-width: 200px;
  border-radius: 15px;
  position: relative;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.detailA:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.descriptionA {
  padding: 1.5rem;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(113, 102, 123);
  padding-left: 20px;
  border-radius: 15px 15px 0px 0px;
}


#privateBeach {
  background-image: url(/images/beach-swing.jpeg);
}

#infinityPool {
  background-image: url(/images/beach-huts.jpeg);
}

#world-ClassSpa {
  background-image: url(/images/world-classSPA.jpeg);
}

#dining {
  background-image: url(/images/dining.jpeg);
}

.detailB {
  width: 350px;
  min-width: 350px;
  z-index: 0;
}

.descriptionB {
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: right;
  z-index: 1;
}

.descriptionB a {
  color: rgb(149, 240, 240);
  line-height: 1.2;
}

#deluxeRoom {
  background-image: url(/images/room.jpeg);
}

#beachfront {
  background-image: url(/images/beachfront.jpeg);
}

#familyRoom {
  background-image: url(/images/familyRoom.jpeg);
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  z-index: 0.5;
  border-radius: 15px;
}

.parallax {
  margin-top: 100px;
  margin-bottom: 50px;
  background-image: url('/images/couple.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.reviewSection {
  text-align: center;
}

.review {
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;

}

.portrait {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #e2e2e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.reviewWords {
  width: 350px;
  text-align: left;
}

.name {
  text-align: right;
}

#readMore {
  color: rgb(38, 89, 218);

}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 100px 0px 30px 0px;
  background-color: rgb(113, 102, 123);
}

footer h2 {
  color: white;
}

footer p {
  color: white;
}

footer ul {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

span {
  line-height: 1.2;
  color: white;
}

hr {
  width: 65%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.notes {
  width: 65%;
  margin: 50px auto;
  text-align: center;
}

.notes p {
  line-height: 2.6;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.5em;
  margin: 0 3em 0 3em;
}

.branchB {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
}

.branchB img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.detailC {
  margin: 20px auto;
  text-align: center;
  width: 1000px;
  max-width: 1500px;
}

.detailC p {
  font-weight: 900;
  margin: 15px 0;
}

.detailC ul li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 25px;
}

.detailC ul li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #555;
}

@media screen and (max-width:1100px) {

  .sectionTitle {
    font-size: 26px;
  }

  .branchA {
    display: block;
  }

  .branchB {
    display: block;
  }

  .detailA {
    margin: 15px auto;
    text-align: center;
  }

  .detailC {
    width: 400px;
  }
}

@media screen and (max-width:800px) {

  #weather {
    font-size: 16px;
  }

  #description {
    display: none;
  }
}

@media screen and (max-width:600px) {

  #icon {
    display: none;
  }

  .detailA {
    width: 300px;
    height: 400px;
  }

  .detailB {
    width: 300px;
    height: 400px;
  }

  .review {
    display: block;
    width: 200px;
    margin: 0 auto;
  }

  .reviewWords {
    width: 200px;
    padding-top: 50px;
  }

  .name {
    padding-top: 20px;
    text-align: center;
  }

  footer ul {
    display: block;
  }

  .detailC {
    width: 200px;
  }
}

@media screen and (max-width:500px) {


  .detailA {
    width: 300px;
    height: 400px;
    min-width: 100px;
  }

  .detailB {
    width: 200px;
    height: 300px;
    min-width: 100px;
  }

  .descriptionB p {
    display: none;
  }

  #weather {
    font-size: 16px;
  }

  #logo {
    width: 100px;
  }
}

@media screen and (max-width:400px) {


  .detailA {
    width: 200px;
    height: 300px;

  }

  .detailB {
    width: 150px;
    height: 150px;

  }

  #weather {
    font-size: 14px;
  }

  .heroContent h1 {
    font-size: 22px;
  }

  .heroContent h2 {
    font-size: 20px;
  }

  .heroContent p {
    font-size: 18px;
  }

}

.my-title {
  opacity: 0;
  transform: translateY(50px);
}

h2.my-title {
  font-size: 2.5rem;
  opacity: 0;
  transform: translateY(50px);
}